<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
    	<welcome-file>/WEB-INF/view/index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <servlet>
    	<servlet-name>LoginServlet</servlet-name> <!-- 이거는 파일명처럼 이름일뿐 상관없음 -->
    	<servlet-class>com.test.jsp.servlet.LoginServlet</servlet-class> <!-- 이게 중요.위치를  알려주는거임 -->
    </servlet>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name> <!-- 이거는 이름일뿐 상관없음 -->
    	<url-pattern>*.20171128</url-pattern> 
<!--  위에는 .jsp에서 웹정보 가지고 온거고. -->
		  </servlet-mapping>

<!-- 아래는 .java에서 웹정보 가지고 올거임. com.test.jsp > service와 연관돼있음. 20171207-->
    <servlet>
    	<servlet-name>UserServlet</servlet-name> 
    	<servlet-class>com.test.jsp.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserServlet</servlet-name> 
    	<url-pattern>*.user</url-pattern> 
    </servlet-mapping>
<!-- 20171220  -->    
    <servlet>
    	<servlet-name>DepartServlet</servlet-name> 
    	<servlet-class>com.test.jsp.servlet.DepartServlet</servlet-class><!-- 이렇게경로지정해줌으로써 저거쓸거야라고미리선언? -->
    </servlet>
    <servlet-mapping>
    	<servlet-name>DepartServlet</servlet-name> <!-- *.depart이거는 우리가 맨뒤에 .depart한곳에 가서, 거기서 또 jsp파일로 보내주는건데-->
<!--    <url-pattern>*.depart</url-pattern> -->
<!--    <url-pattern>/sdepart/*</url-pattern>  -->
		<url-pattern>/depart/*</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<filter-name>EncodingFilter</filter-name> 
    	<filter-class>com.test.jsp.common.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>EncodingFilter</filter-name> 
    	<url-pattern>/*</url-pattern> 
    </filter-mapping>
    
</web-app>

